.search_input {
    display: flex;
    align-items: center;
    border:1px solid lightgray;
    height:30px;
    padding: 10px 20px;
    border-radius: 999px;
    width:75vw;
    margin: 0 auto;
    margin-top:40px;
    max-width:560px;
}
.search_input > input {
    flex: 1;
    padding: 10px 20px;
    font-size:medium;
    border:none;
}
.search_input > input:focus {
    outline-width: 0;
}
.search_inputIcon {
    color:gray;
}
.search_buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.search_buttons button {
    margin: 5px;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border:1px solid white;
    text-transform: inherit;
    color:#5f6368;
}
.search_buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    color:#222;
    border: 1px solid #c6c6c6;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
}
.language {
    text-align: center;
    margin-top: 20px;
}
.language span a, .language span {
    font-size:14px;
}
.language span a:first-child {
    padding-left: 7px;
}
.language span a {
    text-decoration: none;
    padding-right: 7px;
}
.language span a:hover {
    text-decoration: underline;
}
.last_div {
    height:200px;
}
@media only screen and (max-width:500px) {
    .search_input {
        position: relative;
    }
    .search_input > .MuiSvgIcon-root  {
        position: absolute;
        right: 20px;
    }
    .search_input > svg:first-child {
        left: 20px;
    }
    .language > span > span {
        width: 100%;
        display: block;
        margin-top: 10px;
    }
}